html{
  font-size: 62.5%;
}

body{
  font-family: 'Noto Serif JP', 'Noto Serif', 'Noto Serif italic';
  line-height: 1;
  overflow-x: hidden;
  color: #282F35;
  font-size: 1.6em;
  letter-spacing: 0.05em;
}

a{
  text-decoration: none;
  display: inline-block;
}

li{
  list-style: none;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  line-height: 1;
}

img{
  width: 100%;
  vertical-align: bottom;
}